Host *

    # Forward ssh agent to the remote machine.
    ForwardAgent yes

    # Automatically add all common hosts to the host file as they are connected to.
    StrictHostKeyChecking no

    # Added by Kryptonite
    PKCS11Provider /usr/local/lib/kr-pkcs11.so
    ProxyCommand /usr/local/bin/krssh %h %p
    IdentityFile ~/.ssh/id_kryptonite
    IdentityFile ~/.ssh/id_ed25519
    IdentityFile ~/.ssh/id_rsa
    IdentityFile ~/.ssh/id_ecdsa
    IdentityFile ~/.ssh/id_dsa
