# NAS servers
#Host mycloud
#    HostName mycloudmirror.lan
#    User sshd
#    HostkeyAlgorithms ssh-dss
#    LocalCommand echo -e "\e[1;5;32mDo not forget to run 'source /mnt/HD/HD_a2/scripts/profile'\e[0;m"
#    PermitLocalCommand yes

Host nas
    HostName nas.lan
    User stephen
    Port 9222

Host mypassport
    HostName mypassport.lan
    User root

# Raspberry Pi servers
Host pihole
    HostName pihole.lan
    User pi

Host rpi
    HostName raspberrypi.lan
    User pi
