# Home Macs
Host imac
    HostName iMac.local
    User stephen

Host mbp
    HostName MacBook-Pro.local
    User stephen

# NAS servers
Host mycloud
    HostName mycloudmirror.local
    User sshd
    HostkeyAlgorithms ssh-dss
    LocalCommand echo -e "\e[1;5;32mDo not forget to run 'source /mnt/HD/HD_a2/scripts/profile'\e[0;m"
    PermitLocalCommand yes

Host mypassport
    HostName mypassport.local
    User root

Host pihole
    Hostname 192.168.1.190
    User pi

Host pi
    Hostname 192.168.1.172
    User pi
