# NAS servers
Host nas
    HostName nas.lan
    User stephen
    Port 9222

Host mypassport
    HostName mypassport.lan
    User root

# Raspberry Pi servers
Host pihole
    HostName pihole.lan
    User pi

Host rpi
    HostName raspberry.pi.media.server.lan
    User pi

Host firewalla
    HostName firewalla.lan
    User pi
