# Kubernetes cluster
Host master
    # Master.local can be set in /etc/hosts
    Hostname master.local
    User pirate

Host node-1
    Hostname 10.0.0.2
    ForwardAgent yes
    User pirate
    ProxyCommand ssh -A master -W %h:%p

Host node-2
    Hostname 10.0.0.3
    ForwardAgent yes
    User pirate
    ProxyCommand ssh -A master -W %h:%p

Host node-3
    Hostname 10.0.0.4
    ForwardAgent yes
    User pirate
    ProxyCommand ssh -A master -W %h:%p
