# Kubernetes Cluster - Master
Host master
    Hostname cluster.lan
    User ubuntu

# Kubernetes Cluster - Node 1
Host node-1
    Hostname 10.0.0.2
    ForwardAgent yes
    User ubuntu
    ProxyJump master

# Kubernetes Cluster - Node 2
Host node-2
    Hostname 10.0.0.3
    ForwardAgent yes
    User ubuntu
    ProxyJump master

# Kubernetes Cluster - Node 3
Host node-3
    Hostname 10.0.0.4
    ForwardAgent yes
    User ubuntu
    ProxyJump master
