fish_variables

completions/fisher.fish
completions/nvm.fish
functions/__bass.py
functions/__nvm_run.fish
functions/bass.fish
functions/fisher.fish
functions/node.fish
functions/npm.fish
functions/npx.fish
functions/nvm.fish
functions/nvm_alias_command.fish
functions/nvm_alias_function.fish
functions/yarn.fish
functions/man.fish
