# Make nano the default editor.
export EDITOR='nano -w'

# Add more paths
export PATH="/usr/local/bin:$PATH"
export PATH="/usr/local/sbin:$PATH"
export PATH="$PATH:~/.composer/vendor/bin"

if is_os "darwin"; then
    # Add additional paths
    export PATH="$(brew --prefix findutils)/bin:$PATH"
    export PATH="/Applications/VirtualBox.app/Contents/MacOS:$PATH"
    export PATH="$(brew --prefix coreutils)/libexec/gnubin:$PATH"
    export PATH="$(brew --prefix php70)/bin:$PATH"

    # Add additional manpath
    export MANPATH="$(brew --prefix findutils)/libexec/gnuman:$MANPATH"
    export MANPATH="$(brew --prefix coreutils)/share/man:$MANPATH"

    export HOMEBREW_CASK_OPTS="--appdir=/Applications"
fi

# Larger bash history (allow 10000 entries; default is 500)
export HISTSIZE=10000
export HISTFILESIZE=${HISTSIZE}
export HISTCONTROL="ignoredups:erasedups"
#export HISTTIMEFORMAT="%F %T "
export HH_CONFIG=hicolor

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help:history:clear:reset"

# Disable El Capitan's session history
export SHELL_SESSION_HISTORY=0

# Prefer UK English and use UTF-8.
export LANG="en_GB.UTF-8"
export LC_ALL="en_GB.UTF-8"

# Enable colours for cheat command
export CHEATCOLORS=true
