# Colour man pages
man() {
    #LESS_TERMCAP_mb=$'\E[01;31m'      # begin blinking
    #LESS_TERMCAP_md=$'\E[01;31m'      # begin bold
    #LESS_TERMCAP_me=$'\E[0m'          # end mode
    #LESS_TERMCAP_se=$'\E[0m'          # end standout-mode
    #LESS_TERMCAP_so=$'\E[01;44;33m'   # begin standout-mode - info box
    #LESS_TERMCAP_ue=$'\E[0m'          # end underline
    #LESS_TERMCAP_us=$'\E[01;32m'      # begin underline

    env \
    LESS_TERMCAP_mb=$(printf "\e[1;31m") \
    LESS_TERMCAP_md=$(printf "\e[1;31m") \
    LESS_TERMCAP_me=$(printf "\e[0m") \
    LESS_TERMCAP_se=$(printf "\e[0m") \
    LESS_TERMCAP_so=$(printf "\e[1;44;33m") \
    LESS_TERMCAP_ue=$(printf "\e[0m") \
    LESS_TERMCAP_us=$(printf "\e[1;32m") \
    man "$@"
}

# Helper functions
e_header() {
    source $HOME/.dotfiles/files/.colours
    printf "\n${CLI_BOLD}${CLI_MAGENTA}==========  %s  ==========${CLI_RESET}\n" "$@"
    source $HOME/.dotfiles/files/.clear-colours
}

e_arrow() {
    printf "➜ $@\n"
}

e_success() {
    source $HOME/.dotfiles/files/.colours
    printf "${CLI_GREEN}✔ %s${CLI_RESET}\n" "$@"
    source $HOME/.dotfiles/files/.clear-colours
}

e_error() {
    source $HOME/.dotfiles/files/.colours
    printf "${CLI_RED}✖ %s${CLI_RESET}\n" "$@"
    source $HOME/.dotfiles/files/.clear-colours
}

e_warning() {
    source $HOME/.dotfiles/files/.colours
    printf "${CLI_YELLOW}➜ %s${CLI_RESET}\n" "$@"
    source $HOME/.dotfiles/files/.clear-colours
}

e_underline() {
    source $HOME/.dotfiles/files/.colours
    printf "${CLI_UNDERLINE}${CLI_BOLD}%s${CLI_RESET}\n" "$@"
    source $HOME/.dotfiles/files/.clear-colours
}

e_bold() {
    source $HOME/.dotfiles/files/.colours
    printf "${CLI_BOLD}%s${CLI_RESET}\n" "$@"
    source $HOME/.dotfiles/files/.clear-colours
}

e_note() {
    source $HOME/.dotfiles/files/.colours
    printf "${CLI_UNDERLINE}${CLI_BOLD}${CLI_BLUE}Note:${CLI_RESET} ${CLI_BLUE}%s${CLI_RESET}\n" "$@"
    source $HOME/.dotfiles/files/.clear-colours
}

seek_confirmation() {
    source $HOME/.dotfiles/files/.colours
    printf "\n${CLI_BOLD}$@${CLI_RESET}"
    read -p " (y/n) " -n 1
    printf "\n"
    source $HOME/.dotfiles/files/.clear-colours
}

# Test whether the result of an 'ask' is a confirmation
is_confirmed() {
    if [[ "$REPLY" =~ ^[Yy]$ ]]; then
        return 0
    fi

    return 1
}

type_exists() {
    if [ $(type -P $1) ]; then
        return 0
    fi

    return 1
}

is_os() {
    if [[ "${OSTYPE}" == $1* ]]; then
        return 0
    fi

    return 1
}

e_help() {
    e_header "I am a head ermessage - e_header"
    e_success "I am a success message - e_success"
    e_error "I am an error message - e_error"
    e_warning "I am a warning message - e_warning"
    e_underline "I am underlined text - e_underline"
    e_bold "I am bold text - e_bold"
    e_note "I am a note - e_note"
}

# A function to allow cd ../../../.. to be cd ..... instead
cd() {
    if [[ "$1" =~ ^\.\.+$ ]]; then
        local a dir;
        a=${#1};

        while [ $a -ne 1 ]; do
            dir=${dir}"../";
            ((a--));
        done

        builtin cd $dir;
    else
        builtin cd "$@";
    fi
}

if is_os "darwin"; then

    # Open argument in Dash
    function dash() {
        open "dash://$*"
    }

    update() {
        sudo mas upgrade
        sudo softwareupdate -i -a
        brew update && brew upgrade --all && brew cleanup
        npm install npm -g && npm update -g
        #sudo pip freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs pip install -U -q
    }

fi

# TODO: Extract output from tap to include number of tests in message
phpunit() {
    php -dzend_extension=/usr/local/opt/php70-xdebug/xdebug.so $(which phpunit) $@
    CODE=$?

    if [[ $CODE = 0 ]]; then
        TITLE="Success!"
        MESSAGE="Tests ran succesfully"
        IMAGE="$HOME/.dotfiles/files/icons/pass.png"
    elif [[ $CODE = 1 ]]; then
        TITLE="Failure!"
        MESSAGE="Tests are broken"
        IMAGE="$HOME/.dotfiles/files/icons/fail.png"
    fi

    notify-send -i $IMAGE -- "${TITLE}" "${MESSAGE}" -t 1
}
