if [ "$(uname)" == "Darwin" ]; then

    # Open argument in Dash
    function dash() {
        open "dash://$*"
    }

    update() {
        sudo mas upgrade
        sudo softwareupdate -i -a
        brew update && brew upgrade --all && brew cleanup
        npm install npm -g && npm update -g
        #sudo pip freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs pip install -U -q
    }

fi

# Colour man pages
man() {
    #LESS_TERMCAP_mb=$'\E[01;31m'      # begin blinking
    #LESS_TERMCAP_md=$'\E[01;31m'      # begin bold
    #LESS_TERMCAP_me=$'\E[0m'          # end mode
    #LESS_TERMCAP_se=$'\E[0m'          # end standout-mode
    #LESS_TERMCAP_so=$'\E[01;44;33m'   # begin standout-mode - info box
    #LESS_TERMCAP_ue=$'\E[0m'          # end underline
    #LESS_TERMCAP_us=$'\E[01;32m'      # begin underline

    env \
    LESS_TERMCAP_mb=$(printf "\e[1;31m") \
    LESS_TERMCAP_md=$(printf "\e[1;31m") \
    LESS_TERMCAP_me=$(printf "\e[0m") \
    LESS_TERMCAP_se=$(printf "\e[0m") \
    LESS_TERMCAP_so=$(printf "\e[1;44;33m") \
    LESS_TERMCAP_ue=$(printf "\e[0m") \
    LESS_TERMCAP_us=$(printf "\e[1;32m") \
    man "$@"
}

# Helper functions
function info {
    echo -e "\033[1;33m => $1\033[0m";
}

function ok {
    echo -e "\033[1;32m => $1\033[0m";
}

function error {
    echo -e "\033[1;31m => Error: $1\033[0m";
}

# A function to allow cd ../../../.. to be cd ..... instead
cd() {
    if [[ "$1" =~ ^\.\.+$ ]]; then
        local a dir;
        a=${#1};

        while [ $a -ne 1 ]; do
            dir=${dir}"../";
            ((a--));
        done

        builtin cd $dir;
    else
        builtin cd "$@";
    fi
}

# if this is interactive shell, then bind hh to Ctrl-r (for Vi mode check doc)
if [[ $- =~ .*i.* ]]; then
    bind '"\C-r": "\C-a hh \C-j"';
fi
